*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
.box{
  /* margin-top: 100px; */
  justify-content: center;
  align-items: center;
 
  
}  
  

.container{
  margin: 0;
  padding: 0;
  width:120%;
  height:120vh;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
 /* background-image: url('./images/hd-wallpaper-3358468_1920.jpg');  */
}